<head>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.js"></script>
	<script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.js"></script>

</head>

<style>
	
	.fancybox {
		display:none;
	}

</style>

<div id="picture-container" data-masonry-options='{ "itemSelector": ".fancybox", "columnWidth": 320 }'>
	<% @pictures.each do |pic| %>
	    <% if pic.approved==true %>
		    <% if pic.vibeType == "2" %>
		        <div class="fancybox"> 
		            <iframe width="300" height="250" scrolling="no" frameborder="no" src="<%= pic.getSrc.to_s %>" ></iframe> 
		            <p class="sort_by_value" style="display:none;"> <%= pic.created_at %></p>
		        </div>
		    <% elsif pic.vibeType == "3" %>
		        <div class="fancybox"> 
		            <iframe width="300" height="250" frameborder="0"src="<%= pic.getSrc.to_s %>" > </iframe> 
		            <p class="sort_by_value" style="display:none;"> <%= pic.created_at %></p>
		        </div>
		    <% else %>
		        <div class="fancybox">
<!-- 		            <a width="300" href=<%= "#{pic.image.url}" %> data-lightbox="#{pic.id}">
		                <img src=<%= "#{pic.image.url}" %> alt= <%= "#{pic.title}" %>  >
		            </a> -->
		            <%= link_to (image_tag pic.image.url), picture_path(pic) %>
		            <p class="sort_by_value" style="display:none;"> <%= pic.created_at %></p>

		        </div>
		    <% end %>
		<% end %>
	<% end %>
</div>


<script>

$(document).ready(function() {
    var $container = $('#picture-container');
    $container.imagesLoaded( function() {
        // alert("images are loaded");
        setTimeout(1000);
	    $container.masonry({
		    // options
		  	itemSelector: '.fancybox',
	    	columnWidth: 320
		});
		$('.fancybox').show(); 
		// $container.isotope({ sortBy: 'original-order' });	    

    });
})


</script>