<!-- Rendered template for the pictures/videos/songs -->
<script>
$(document).ready(function() {
    var $container = $('#picture-container');
    $container.imagesLoaded( function() {
        // alert("images are loaded");
        setTimeout(1000);
	    $container.masonry({
		    // options
		  	itemSelector: '.fancybox',
	    	columnWidth: 320
		});
		$('.fancybox').show(); 
		// $container.isotope({ sortBy: 'original-order' });	    
    });
})
</script>

<% @pictures.reverse.each do |pic| %>
    <% if pic.approved==true %>
	    <% if pic.vibeType == "2" or pic.vibeType == "soundcloud" %>
	        <div class="fancybox"> 
	            <iframe width="300" height="250" scrolling="no" frameborder="no" src="<%= pic.getSrc.to_s %>" ></iframe> 
	            <p class="sort_by_value" style="display:none;"> <%= pic.created_at %></p>
	        </div>
	    <% elsif pic.vibeType == "3" or pic.vibeType == "youtube" %>
	        <div class="fancybox"> 
	            <iframe width="300" height="250" frameborder="0"src="<%= pic.getSrc.to_s %>" > </iframe> 
	            <p class="sort_by_value" style="display:none;"> <%= pic.created_at %></p>
	        </div>
	    <% else %>
	        <div class="fancybox">

	            <%= link_to (image_tag pic.image.url), picture_path(pic) %>
	            <p class="sort_by_value" style="display:none;"> <%= pic.created_at %></p>

	        </div>
	    <% end %>
	<% end %>
<% end %>

