<! DOCTYPE html >
<html>

<head>
    <style>

    body {
        background: url('/assets/lightningstrike.jpg');
        background-attachment: fixed;
    }

    </style>

</head>
<body> 

<script src="jquery-1.7.1.min.js"></script>
<script src="jquery.masonry.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.js"></script>
<script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.js"></script>


</br>

<h1 id="title"> phill's life </h1>


<!-- disabling upload for now -->
<h2 class="uploadImage"><% link_to 'upload', new_picture_path %></h2>

<%= will_paginate @pictures %>

<div id="container">

        <% @pictures.all.each do |pic| %>
            <% if pic.approved==true %>
                <% if pic.vibeType == "2" %>
                    <div class="fancybox"> 
                        <iframe width="300" scrolling="no" frameborder="no" src="<%= pic.getSrc.to_s %>" ></iframe> 
                    </div>
                <% elsif pic.vibeType == "3" %>
                    <div class="fancybox"> 
                        <iframe width="300" height="250" frameborder="0"src="<%= pic.getSrc.to_s %>" allowfullscreen> </iframe> 
                    </div>
                <% else %>
                    <div class="fancybox">
                        <a width="300" href=<%= "#{pic.image.url}" %> data-lightbox="#{pic.id}">
                            <img src=<%= "#{pic.image.url}" %> alt= <%= "#{pic.title}" %>  >
                        </a>
                    </div>
                <% end %>
            <% end %>
        <% end %>

</div>

</br>
</br>
</br>


</body>

</html>


