<head>

<style>

body {
	background: url('/assets/colorado.jpg');
	background-attachment: fixed;
}

</style>

</head>

<body>

<br>


<div class="pic-container">
	<div class="pic-show-container-test">
		<% if @picture.vibeType=="2" %>
			<div class="pic"> 
                <iframe width="50%" height="350" scrolling="no" frameborder="no" src="<%= @picture.getSrc.to_s %>" >
                </iframe> 
            </div>

			<div class="approve-box">
				<%= simple_form_for(@picture) do |f| %>
					<table>
						<tr>
						    <th><%= link_to 'back', root_path %> </th>
						    <th><%= f.check_box :approved %> </th>
						  
							<th><%= link_to 'delete', picture_path(@picture, :id => @picture.id), method: :delete %> </th>
						</tr>
						<tr>
							<th> </th>
							<th> <%= f.submit 'approve post' %>  </th>
							<th></th>
						</tr>
					</table>
				<% end %>
			</div>
		<% elsif @picture.vibeType=="3" %>
            <div class="pic"> 
                <iframe width="50%" height="350" frameborder="0"src="<%= @picture.getSrc.to_s %>" allowfullscreen> </iframe> 
            </div>

			<div class="approve-box">
				<%= simple_form_for(@picture) do |f| %>
					<table>
						<tr>
						    <th><%= link_to 'back', root_path %> </th>
						    <th><%= f.check_box :approved %> </th>
						  
							<th><%= link_to 'delete', picture_path(@picture, :id => @picture.id), method: :delete %> </th>
						</tr>
						<tr>
							<th> </th>
							<th> <%= f.submit 'approve post' %>  </th>
							<th></th>
						</tr>
					</table>
				<% end %>
			</div>

		<% else %>
			<div class="pic">
				<%= image_tag @picture.image.url %>
			</div>

			<div class="approve-box">
				<%= simple_form_for(@picture) do |f| %>
					<table>
						<tr>
						    <th><%= link_to 'back', root_path %> </th>
						    <th><%= f.check_box :approved %> </th>
						  
							<th><%= link_to 'delete', picture_path(@picture, :id => @picture.id), method: :delete %> </th>
						</tr>
						<tr>
							<th> </th>
							<th> <%= f.submit 'approve post' %>  </th>
							<th></th>
						</tr>
					</table>
				<% end %>
			</div>
		<% end %>
	</div>
</div>


</body>