<!-- Replaced this page with the home/index.html.erb file -->
<h3> submitted posts</h3>

<div class="mainForm" style="display:none;">

	<div id="container" data-masonry-options='{ "itemSelector": ".item", "columnWidth": 320 }'>

		<% Picture.all.each do |pic| %>
			<% if pic.approved==true %>
                <% if pic.vibeType == "2" or pic.vibeType == "soundcloud" %>
                    <div class="item"> 
                        <iframe width="300" scrolling="no" frameborder="no" src="<%= pic.getSrc.to_s %>" ></iframe> 
                    </div>
                <% elsif pic.vibeType == "3" or pic.vibeType == "youtube"%>
                    <div class="item"> 
                        <iframe width="300" height="250" frameborder="0"src="<%= pic.getSrc.to_s %>" allowfullscreen> </iframe> 
                    </div>
                <% else %>
                    <div class="item">
                        <a width="300" href=<%= "#{pic.image.url}" %> data-lightbox="#{pic.id}">
                            <img src=<%= "#{pic.image.url}" %> alt= <%= "#{pic.title}" %>  >
                        </a>
                    </div>
                <% end %>
            <% end %>
		<% end %>
	</div>
</div>

<script src="jquery-1.7.1.min.js"></script>
<script src="jquery.masonry.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.js"></script>
<script src="http://imagesloaded.desandro.com/imagesloaded.pkgd.js"></script>
<script>


$(document).ready(function() {
    $('.mainForm').show()
    var container = document.querySelector('#container');
    var msnry;

    // initialize Masonry after all images have loaded
    imagesLoaded( container, function() {
      msnry = new Masonry( container );
    });

});

</script>

</body>
</html>
