<head>

<style>

	.pic-show-container-test {
	    position: relative;
	    width: 100%;
	}

	.pic {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;

	    text-align:center; /* Align center inline elements */
	    font: 0/0 a;
	}

	.pic img{
	    height: 400px;
	}


	#below-image {
		font-size: 14px;
		position: relative;
		display: block;
/*		font-size: 14px;
		position: relative;
		display: block;
		text-align: center;
		margin-left: 200px;*/
		/*border: solid;*/
	}

	.approve-pic {
		margin-left: 4%;
		/*position: relative;*/
		display: block;
		text-align: center;
		margin-left: 200px;
	}


</style>

</head>

<body>

<br>
<br>
<br>

<div class="pic-show-container-test">
	<div class="pic">
		<%= image_tag @picture.image.url %> </br> 
	</div>
	<p id="below-image">
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
	    <%= link_to 'back', root_path %> 
		<% link_to 'delete', picture_path(@picture, :id => @picture.id), method: :delete %><br>
	</p>

</div>
</br>
</br>
</br>
</br>
</br>
	  <%= simple_form_for(@picture) do |f| %>
	        <%= f.check_box :approved %>
	        <%= f.submit 'approve picture' %>
    		<%= link_to 'delete', picture_path(@picture, :id => @picture.id), method: :delete %>
    	<% end %>



</body>