<head>

<style>

body {
    background: url('/assets/colorado.jpg');
    background-attachment: fixed;
}

</style>
</head>

<body>

<br>
<br>
<br>

<div class="pic-container">
	<div class="pic-show-container-test">
            <% if @picture.approved==true %>
                <% if @picture.vibeType == "2" %>
                    <div class="pic"> 
                        <iframe width="50%" height="350" scrolling="no" frameborder="no" src="<%= @picture.getSrc.to_s %>" ></iframe> 
                    </div>
                <% elsif @picture.vibeType == "3" %>
                    <div class="pic"> 
                        <iframe width="50%" height="350" frameborder="0"src="<%= @picture.getSrc.to_s %>" allowfullscreen> </iframe> 
                    </div>
                <% else %>
                    <a class="pic" href=<%= "#{@picture.image.url}" %> data-lightbox="#{@picture.id}">
                        <img src=<%= "#{@picture.image.url}" %> alt= <%= "#{@picture.title}" %> width="300" >
                    </a>
                <% end %>
            <% end %>
            <div class="approve-box">
                <%= simple_form_for(@picture) do |f| %>
                    <table>
                        <tr>
                            <th> <%= link_to image_tag("glyphicons-173-rewind.png"), picture_path(@picture.id - 1), style: "width:10; height: 2em;"%> </th>
                            <th> </th>
                            <th> <%= link_to image_tag("glyphicons-177-forward.png"), picture_path(@picture.id + 1)%> </th>
                        </tr>
                    </table>
                <% end %>
            </div>
	</div>
</div>


</body>