<p id="notice"><%= notice %></p>

<br>
<br>


<div class="pic-container">

	<div class="postImage"> <%= image_tag @picture.image.url, width: 600 %> </div>

	<%= link_to 'edit', edit_picture_path(@picture) %> |
	<%= link_to 'back', pictures_path %> |
	<%= link_to 'delete', method: :delete %><br>

</div>

