<!DOCTYPE html>
<html>
<head>
  <title>phills life</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Bad+Script|Englebert|Delius|Loved+by+the+King|Over+the+Rainbow' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="/assets/faviconPL.ico" type="image/x-icon" />
  <script src="assets/isotope.pkgd.min.js"></script>


</head>
<body>

<link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

<!-- Application default page - Navbar -->
  <div class="nav">
    <ul>
      <li id="words"><%= link_to 'home', root_path %></li>
      <li id="words"><%= link_to 'music', songs_path %></li> 
      <li id="words"><%= link_to 'about', about_path %></li> 
      <li id="logo"><iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fphillslife&color=orange_transparent" style="width:60px;height:38px; text-align: center;padding-top:0;"></iframe> </li>
      <% if user_signed_in? %>
        <li id="words-right"> <%= link_to 'sign out', destroy_user_session_path, method: :delete,  :confirm => 'Are you sure?'%> </li>
      <% else %>
        <!-- <li id="words-right"> <%= link_to 'sign in', new_user_session_path %> </li> -->
      <% end %>
    </ul>
  </div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<!-- Yield the rest of the application -->
<%= yield %>

</body>
</html>
