<!DOCTYPE html>
<html>
<head>
  <title>phills life</title>
  <style>
  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  </style>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <!-- #lightbox -->
  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="js/lightbox.min.js"></script>
  <link href="css/lightbox.css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Bad+Script|Englebert|Delius|Loved+by+the+King|Over+the+Rainbow' rel='stylesheet' type='text/css'>


<!-- lightview -->
<!-- <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/prototype/1.7.0/prototype.js'></script>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/scriptaculous/1/scriptaculous.js'></script>
<script type='text/javascript' src='/js/lightview.js'></script>
<link rel="stylesheet" type="text/css" href="css/lightview.css" /> -->




  <link rel="shortcut icon" href="/assets/faviconPL.ico" type="image/x-icon" />

</head>

<body>

  <div class="nav">
    <ul>
      <li id="words"><%= link_to 'home', root_path %></li>
      <li id="words"><%= link_to 'music', songs_path %></li> 
      <li id="words"><%= link_to 'about', about_index_path %></li> 
      <li id="logo"><iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fphillslife&color=orange_transparent" style="width:60px;height: 38px; text-align: center; top: 0;"></iframe> </li>
      <li id="words-right"> <%= link_to 'sign in', new_user_session_path %> </li>
    </ul>
  </div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>


<footer>

<id ="footer-words"> <a href="https://twitter.com/phills_life"> <img src="/assets/Twitter_logo_blue.png" width="25px"></a></> &nbsp &nbsp 
<id ="footer-words"> <a href="https://www.linkedin.com/pub/phil-lisovicz/21/a82/264"> <img src="/assets/LinkedIn-InBug-2CRev.png" width="25px"></a></> &nbsp &nbsp 
<id ="footer-words"> <a href="https://github.com/lisoviczp"> <img src="/assets/GitHub-Mark-32px.png" width="25px"></a></> &nbsp &nbsp 
<id ="footer-words"> <a href="https://instagram.com/phills_life"> <img src="/assets/Instagram_Icon_Large.png" width="25px"></a></><br>
<!-- <iframe allowtransparency="true" scrolling="no" frameborder="no" width="25px" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fphillslife&color=orange_transparent" style="width:60px;height: 38px; text-align: center; top: 0;"></iframe>
 -->
</footer>


</body>
</html>
