<!DOCTYPE html>
<html>
<head>
  <title>phills life</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "lightbox" %>
  <%= csrf_meta_tags %>
<!-- 
  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="js/lightbox.min.js"></script>
  <link href="css/lightbox.css" rel="stylesheet" /> -->

  <style>
  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  </style>


  <link rel="shortcut icon" href="/assets/faviconPL.ico" type="image/x-icon" />

</head>

<body>

  <div class="nav">
    <ul>
      <li id="words"><%= link_to 'home', root_path %></li>
      <li id="words"><%= link_to 'songs', songs_path %></li> 
      <li id="words"><%= link_to 'about', about_index_path %></li> 
      <li id="words"> <a href="https://www.linkedin.com/pub/phil-lisovicz/21/a82/264"> linkedin 
      </a></li> 
      <li id="logo"><iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fphillslife&color=orange_transparent" style="width:60px;height: 38px; text-align: center; top: 0;"></iframe> </li>
    </ul>
  </div>

<!--     <div class="nav">
      <ul>
        <li id="words"><a href="#">home</a></li> 
        <li id="words"><a href="#">music</a></li> 
        <li id="words"><a href="#">about</a></li> 
        <li id="words"><a href="#">contact</a></li> 
        <li id="logo"><iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fphillslife&color=orange_transparent" style="width:60px;height: 38px; text-align: center; top: 0;"></iframe> </li>
      </ul>
    </div> -->


<%= yield %>

</body>
</html>
